@media screen and (min-width: 1200px) {
  /* Utilities*/

  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* Header */
  .logo {
    line-height: 1.33;
  }
  .nav-list {
    margin-left: 76px;
  }
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
  .nav-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color var(--animation-duration) var(--animation-timing-function);
  }
  .nav-link:is(:hover, :focus) {
    color: var(--primary-brand-color);
  }
  .current {
    color: var(--primary-brand-color);
  }
  .current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background: var(--pressed-state-color);
  }
  .address {
    display: flex;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-link:is(:hover, :focus) {
    color: var(--primary-brand-color);
  }

  /* Hero */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-overlay {
    max-width: 1440px;
    min-height: 600px;
  }
  .section-title.hero-title {
    max-width: 496px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 48px;
    margin-left: auto;
  }

  /* Preferences */

  .preferences-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-column-gap);
  }
  .preferences-list > .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .preferences-item {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    margin-bottom: 8px;
  }
  .preferences-icon {
    width: 64px;
    height: 64px;
  }

  /* Works */

  .section.works {
    display: block;
    padding-top: 0;
  }
  .works-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-column-gap);
  }
  .works-list > .list-item {
    flex-basis: calc((100% - 48px) / 3);
    background-color: var(--main-background-color);
  }

  /* Our Team */

  .team-list {
    column-gap: var(--card-column-gap);
  }
  .team-list > .list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* Customers */

  .customers {
    padding-top: 130px;
  }
  .customers-list {
    gap: var(--card-column-gap);
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  /* Footer */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
  }
  .footer-content-wrapper {
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    margin-left: 120px;
  }
  .footer-text {
    max-width: 264px;
    margin: 0;
  }
  .footer-form-wrapper {
    margin: 0;
    align-items: center;
  }

  /* PORTFOLIO */

  /* Gallery */

  .section.gallery {
    padding-top: 96px;
  }
  .filter {
    justify-content: center;
    margin-bottom: 72px;
  }
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-column-gap);
    row-gap: var(--card-row-gap);
  }
  .gallery-list > .list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
